# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# test files
test_files/

# Sphinx build output
docs/_build/

# Editor / OS
.idea/
.vscode/
*.swp
*~
.DS_Store
tests/fixtures/archive_mixed.zip
tests/fixtures/email_with_attachment.eml
tests/fixtures/html_phishing.html
tests/fixtures/pdf_embedded.pdf
tests/fixtures/pdf_javascript.pdf
tests/fixtures/pdf_uri.pdf
tests/fixtures/qr_code.png
