# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# test files
test_files/

# Sphinx build output
docs/_build/

# Editor / OS
.idea/
.vscode/
*.swp
*~
.DS_Store
